# Paystack
PAYSTACK_PUBLIC_KEY=pk_live_67bf684673bb3011562b71c80d324aef4846a788
PAYSTACK_SECRET_KEY=sk_live_...
PAYSTACK_WEBHOOK_SECRET=whsec_... 

# App
# (Set NODE_ENV and DATABASE_URL via Prisma or keep default sqlite dev.db)

